<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estimate Report</h1>
    <p>Estimate Name: ${estimateName}</p>
    <p>Print Date: ${printDate}</p>
    <p>Estimate Date: ${estimateDate}</p>
    <p>Print ID: ${printId}</p>
    <p>Estimate ID: ${estimateId}</p>
    <p>name: ${name}</p>
    <p>address: ${address}</p>
    <p>totalCost: ${totalCost}</p>
    <p>constructionType: ${constructionType}</p>
    <p>buildingType: ${buildingType}</p>
    
</body>
</html>